:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --gray-color: #888;
}

.file-page {
  gap: 20px;
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .file-page {
    flex-direction: column;
    align-items: normal;
    gap: 10px;
  }
}
/* start file stats */
.files-stats {
  min-width: 250px;
}
.files-stats .file-row {
  margin: 10px 0px;
  padding: 7px;
  border: 1px solid #eee;
}
.files-stats .file-row .icon {
  width: 40px;
  height: 40px;
}
.files-stats .file-row .blue {
  background-color: #0075ff6e;
  color: var(--blue-color);
}
.files-stats .file-row .red {
  background-color: #f4433657;
  color: var(--red-color);
}
.files-stats .file-row .green {
  background-color: #22c55e70;
  color: var(--green-color);
}
.files-stats .file-row .orange {
  background-color: #f59e0b66;
  color: var(--orange-color);
}
.files-stats .file-row .info {
  flex: 1;
  margin-left: 10px;
}

.files-stats .upload {
  display: block;
  width: fit-content;
  margin: 15px auto;
  padding: 10px 15px;
  transition: 0.3s;
}
.files-stats .upload:hover {
  background-color: var(--blue-alt-color);
}
.files-stats .upload:hover > i {
  animation: go-up 0.8s infinite;
}
/* end file stats */

/* start animation */
@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* end animation */
/* start files */
.files {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}
.files > div {
  width: 250px;
}
.file-card > i {
}
.file-card .icon {
  text-align: center;
}
.file-card img {
  width: 80px;
  height: 80px;
}
.file-card .info {
  padding: 10px;
  border-top: 2px solid #eee;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .files {
    grid-template-columns: minmax(250px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
  .files > div {
    width: 250px;
  }
}
/* end files */
